<body>
    <nav class="header navbar navbar-expand-sm navbar-dark sticky-top">

        <!-- LOGO -->
        <div class="navbar-brand">Sistema boa vida</div>

        <!-- MENU HAMBURGUER -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#perfil">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- BARRA DE MENU -->
        <div class="collapse navbar-collapse" id="perfil">
            <ul class="navbar-nav ml-auto">

                <!-- MENU TOPO -->
                <div class="menu-topo m-auto">
                    <a href="/administrador/"><span><i class="fas fa-home"></i></span></a>
                    <a href="/administrador/clientes/listar"><span><i class="fas fa-users"></i></span></a>
                    <a href="/administrador/mensalidades/aberto"><span><i class="far fa-credit-card"></i></span></a>
                    <a href="/administrador/pacotes/listar"><span><i class="fas fa-cube"></i></span></a>
                    <a id="border-none" href="/administrador/relatorios/listar"><span><i class="fas fa-chart-pie"></i></span></a>
                </div>

                <!-- PERFIL -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
                        <span class="icon-user"><i class="fas fa-user-circle"></i></span> Fulano de Tal
                    </a>

                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Meus Dados</a>
                        <a href="http://localhost:8080/" class="dropdown-item">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>