<div>
   

        <!-- Perfil Usuário -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ">
                    <a href="" class="nav-link dropdown-toggle font-weight-bold mr-1" data-toggle="dropdown">
                        Fulano de Tal
                    </a>

                   
                </li>
            </ul>
        </div>

        
        </div>
    </nav>
</div>