<nav class="header navbar navbar-expand-sm">
    
    <!-- <a href="" class="navbar-brand font-weight-bold painel-controle">Painel de Controle</a> -->

    <!-- MENU HAMBURGUER -->

    <!-- Perfil Usuário 
        <div id="perfil" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ">
                    <a href="" class="nav-link dropdown-toggle font-weight-bold mr-1 text-light" data-toggle="dropdown">
                        Fulano de Tal
                    </a>

                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Meus Dados</a>
                        <a href="#" class="dropdown-item">Sair</a>
                    </div>
                </li>
            </ul>
        </div>-->
</nav>