<div class="side-nav">
    <nav>
        <ul>
            <li>
                <a href="http://localhost:8080/home">
                    <span><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/clientes">
                    <span><i class="fas fa-users"></i></span>
                    <span>Clientes</span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/mensalidades">
                    <span><i class="far fa-credit-card"></i></span>
                    <span>Mensalidades</span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/pacotes">
                    <span><i class="fas fa-cube"></i></span>
                    <span>Pacotes</span>
                </a>

            </li>
            <li>
                <a href="http://localhost:8080/relatorios">
                    <span><i class="fas fa-chart-pie"></i></span>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>
    </nav>
</div>