<div class="side-nav">
    <nav>
        <ul>
            <li>
                <a href="/administrador">
                    <span><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/cliente">
                    <span><i class="fas fa-users"></i></span>
                    <span>Clientes</span>
                </a>
            </li>
            <li>
                <a href="/mensalidade">
                    <span><i class="far fa-credit-card"></i></span>
                    <span>Mensalidades</span>
                </a>
            </li>
            <li>
                <a href="/pacote">
                    <span><i class="fas fa-cube"></i></span>
                    <span>Pacotes</span>
                </a>

            </li>
            <li>
                <a href="/relatorio">
                    <span><i class="fas fa-chart-pie"></i></span>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>
    </nav>
</div>