<body>
    <div class="side-bar">
        <nav>
            <ul id="side-bar">
                <li id="atual">
                    <a title="Home" href="/administrador/">
                        <span><i class="fas fa-home"></i></span>
                        <span class="">Home</span>
                    </a>
                </li>
                <li>
                    <a title="Clientes" href="/administrador/clientes/listar">
                        <span><i class="fas fa-users"></i></span>
                        <span>Clientes</span>
                    </a>
                </li>
                <li>
                    <a title="Mensalidades" href="/administrador/mensalidades/aberto">
                        <span><i class="far fa-credit-card"></i></span>
                        <span>Mensalidades</span>
                    </a>
                </li>
                <li>
                    <a title="Pacotes" href="/administrador/pacotes/listar">
                        <span><i class="fas fa-cube"></i></span>
                        <span>Pacotes</span>
                    </a>

                </li>
                <li>
                    <a title="Relatórios" href="/administrador/relatorios/listar">
                        <span><i class="fas fa-chart-pie"></i></span>
                        <span>Relatórios</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>