<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <div class="main-content">

        <div class="row mt-4">
            <!-- FORMULÁRIO CLIENTE -->
            <div class="col-md-6">
                <div class="align-self-center">
                    <div class="card" id="formulario-perguntas">
                        <div class="card-header">
                            <h3>Cadastro de clientes</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-group">
                                <label>Nome:</label>
                                <input type="text" placeholder="digite nome aqui" class="form-control">
                                <br>
                                <label>Sobrenome</label>
                                <input placeholder="digite o sobrenome aqui" class="form-control">
                                <br>
                                <label>Email:</label>
                                <input type="text" placeholder="digite o email aqui" class="form-control">
                                <br>
                                <label>Cpf:</label>
                                <input type="text" placeholder="digite o cpf aqui" class="form-control">
                                <br>
                                <label>Data de Nascimento:</label>
                                <input type="text" placeholder="digite a data de nascimento aqui" class="form-control">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FORMULÁRIO ENDEREÇO -->
            <div class="col-md-6">
                <h1>Testando formulário</h1>
            </div>
        </div>

        <!-- BOTÕES -->
        <div class="row">
            <button class="btn btn-primary btn-lg mt-3 ml-3">Salvar</button>
        </div>

    </div>
</body>
<%- include partials/footer.ejs %>