<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <div class="main-content">
        <h1>Clientes</h1>
        <a href="http://localhost:8080/cadastro-cliente">Cadastro de clientes</a>
    </div>

</body>
<%- include partials/footer.ejs %>