<%- include partials/header.ejs %>

    <body>
        <%- include partials/navbar.ejs %>
            <%- include partials/sidebar.ejs %>






                <div class="main-content">


                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Clientes
    </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ativos</a>
                            <a class="dropdown-item" href="#">Inativo</a>

                            <div class="dropdown-divider"></div>

                        </div>
                    </div>
                </div>

                <div <div class="main-content">
                    <h1>Clientes</h1>
                    <a>Cadastro de clientes</a>
                    <button href="/cliente/cadastro" type="button" class="btn btn-outline-primary">novo</button>
                </div>

    </body>
    <%- include partials/footer.ejs %>