<%- include partials/header.ejs %>

    <body>
        <%- include partials/navbar.ejs %>
            <%- include partials/sidebar.ejs %>






                <div class="main-content">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Ativos</button>
                            <button class="dropdown-item" type="button">Inativos</button>

                        </div>
                    </div>




                    <table class=" table table-hover">
                        <tr class=" table-dark ">
                            <th class=" bg-primary ">Nome</th>
                            <th>Sobrenone</th>
                            <th>CPF</th>
                        </tr>
                        <tr>
                            <td>Aldo </td>
                            <td>Santos</td>
                            <td>999.888.888.88</td>
                        </tr>
                        <tr>
                            <td>Leo </td>
                            <td>lopes</td>
                            <td>666.666.666.22</td>
                        </tr>
                        <tr>
                            <td>Anderso</td>
                            <td>Oliviera</td>
                            <td>99.999.999.99</td>
                        </tr>
                    </table>
                </div>
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Clientes
    </button>

                </div>

                <div <div class="main-content">
                    <h1>Clientes</h1>
                    <a>Cadastro de clientes</a>
                    <button href="/cliente/cadastro" type="button" class="btn btn-outline-primary">novo</button>
                </div>

    </body>
    <%- include partials/footer.ejs %>