<%- include partials/header.ejs %>
<body>
<<<<<<< HEAD
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>
    
=======
    <div id="principal">
        
        <div class="bg-primary float-left col-6">
            <h1>a</h1>
        </div>

        <div class="bg-success float-right col-6">
            <h1>b</h1>
        </div>

>>>>>>> 46fd4f77f5e087c0807eaf62d86f140574ca19de
    </div>
</body>
<%- include partials/footer.ejs %>