<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <div class="main-content">
        <button type="button" class="btn btn-outline-secondary">Iniciar</button>
    </div>
</body>
<%- include partials/footer.ejs %>