<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <div class="main-content">
        <div">
            <h1>Pacotes</h1>
        </div">
    </div>

</body>
<%- include partials/footer.ejs %>