<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <div class="main-content">
        
    </div>
</body>
<%- include partials/footer.ejs %>