/* ============================== */


/* ======FORMATAÇÕES GERAIS====== */

* {
    box-sizing: border-box;
}

body {
    min-width: 260px;
}

/* ===== TABELAS ============== */
.titulo-tabelas {
    font-size: 1.2em;
    font-weight: 500;
}

.tabelas {
    height: 300px;
    overflow: auto;
    margin-bottom: 5px;
    border: none;
    /* background-color: #868e96 ; */
    /* table-layout: fixed; */
}

.table {
    min-width: 450px;
}

.tabelas-linhas {
    background-color: #ffffff;
    color: #333;
}

.tabela-head {
    background-color: #363636;
    color: #fff;
}

/* FORMULÁRIOS */

.inline {
    display: inline;
}

#detalhesCliente div {
    padding: 5px;
    font-size: 18px;
}


/* ================================ */


/* ======FORMATAÇÕES DE LOGIN====== */

body#login {
    background: url('../img/fundo.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.main-content {
    padding-top: 80px;
}

.main-section {
    margin: 0 auto;
    margin-top: 30%;
    padding: 0;
}

.modal-content {
    background-color: #3b4652;
    opacity: .97;
    padding: 0 20px 40px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 50px;
    font-size: 18px;
    border: 0px;
    padding-left: 40px;
    border-radius: 5px;
}

.inputIcon {
    position: relative;
}

.inputIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 2s;
}

.inputIcon input[type=text]:focus+i,
.inputIcon input[type=password]:focus+i {
    color: dodgerblue;
}


/* ===================== */


/* FORMATAÇÕES DO NAVBAR */

.header {
    /* position: absolute; */
    height: 55px;
    width: 100%;
    margin-bottom: -55px;
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    z-index: 4;
    /* border-bottom: 1px solid #ffffff; */
}

.header a {
    color: #000;
    font-family: cursive;
}

.icon-user {
    font-size: 1.5em;
    margin-right: 2px;
}

.navbar-color {
    background-color: rgba(8, 24, 34, 0.979);
}

#border-none {
    border-right: none;
}

.menu-topo a {
    border-right: 1px solid #333;
}

.menu-topo i {
    color: #D3D3D3;
    margin: 0 10px;
    font-size: 22px;
}

.menu-topo i:hover {
    color: #5bc0de;
}


/* ====================== */


/* FORMATAÇÕES DO SIDEBAR */

.side-bar {
    position: absolute;
    width: 100%;
    background-color: #081922;
    height: 100vh;
    z-index: 3;
    padding-top: 55px;
}

.side-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-bar ul li {
    padding: 20px 10px;
    border-bottom: 1px solid #333;
}

.side-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.side-bar ul li i {
    color: #D3D3D3;
}

.side-bar ul li a:hover {
    color: #5bc0de;
}


/* =================================== */


/* =========FORMATAÇÕES DA HOME======= */

body {
    margin: 0;
    padding: 0;
    /* background: url('/img/te.jpg'); */
    background-color: #EAEAEA;
}

#cards span {
    font-size: 2em;
}

#cards .card {
    margin-top: 25px;
}

.card-colors {
    background-color: #ffffff;
    border:1px solid rgb(148, 155, 161);
}

.jumbotron {
    background-color: #343A40;
    color: #e9e6e6;
}

#jumbotron {
    display: none;
}


/* ========================== */


/* FORMATAÇÕES DE FORMULÁRIOS */

.formularios {
    border-radius: 5px;
    background-color: rgb(49, 48, 48);
    color: #ffffff;
    padding: 15px;
}

.formularios input {
    height: 40px;
    padding-left: 10px;
}


/* ======================================== */


/* FORMATAÇÕES DE RESPONSIVIDADE ESTRUTURAL */

@media screen and (min-width: 0px) {
    .side-bar {
        width: 80px;
    }
    .side-bar ul li {
        text-align: center;
    }
    .side-bar ul li span:nth-child(2) {
        display: none;
    }
    .side-bar ul li i {
        font-size: 26px;
    }
    .main-content {
        margin-right: 15px;
        margin-left: 15px;
    }
    #form-busca {
        display: none;
    }
    .side-bar ul li i:hover {
        color: #5bc0de;
    }
    .side-bar {
        display: none;
    }
    .menu-topo {
        display: flex;
    }
}

@media screen and (min-width: 356px) {
    #jumbotron {
        display: block;
    }
}

@media screen and (min-width: 576px) {
    .side-bar {
        width: 80px;
    }
    .side-bar ul li {
        text-align: center;
    }
    .side-bar ul li span:nth-child(2) {
        display: none;
    }
    .side-bar ul li i {
        font-size: 26px;
    }
    .main-content {
        margin-left: 95px;
        margin-right: 15px;
    }
    .side-bar {
        display: inline;
    }
    .menu-topo {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .side-bar {
        width: 200px;
    }
    .side-bar ul li {
        text-align: left;
    }
    .side-bar ul li span:nth-child(2) {
        display: inline;
    }
    .side-bar ul li i {
        font-size: 16px;
    }
    .main-content {
        margin-left: 215px;
        margin-right: 15px;
    }
}