<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<body>

    <div class="main-content">
        <h1>Edição de Pacote</h1>
    </div>

</body>
<%- include ../../partials/footer.ejs %>