<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>

    <div class="main-content">
        <form class="form-group">
            <!-- FORMULÁRIO CLIENTE -->
            <div class="row">
                <div class="col-md-6">
                    <div class="align-self-center">
                        <div class="card" id="formulario-perguntas">
                            <div class="card-header">
                                <h3>Cadastro de clientes</h3>
                            </div>
                            <div class="card-body">
                                <label>Nome:</label>
                                <input type="text" name="nome" placeholder="digite nome aqui" class="form-control">
                                <br>
                                <label>Sobrenome</label>
                                <input type="text" name="sobrenome" placeholder="digite o sobrenome aqui" class="form-control">
                                <br>
                                <label>Email:</label>
                                <input type="text" name="email" placeholder="digite o email aqui" class="form-control">
                                <br>
                                <label>Cpf:</label>
                                <input type="text" name="cpf" placeholder="digite o cpf aqui" class="form-control">
                                <br>
                                <label>Data de Nascimento:</label>
                                <input type="date" name="nascimento" placeholder="digite a data de nascimento aqui" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FORMULÁRIO ENDEREÇO -->
                <div class="col-md-6">
                    <div class="align-self-center">
                        <div class="card" id="formulario-perguntas">
                            <div class="card-header">
                                <h3>Cadastro de clientes</h3>
                            </div>
                            <div class="card-body">
                                <h1>Criar o Formulário de endereço aqui</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- BOTÕES  -->
            <div class="row">
                <button class="btn btn-primary btn-lg mt-3 ml-3">Salvar</button>
            </div>
        </form>
    </div>
</body>
<%- include ../../partials/footer.ejs %>