<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNome">Nome*</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Nome">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSobrenome">Sobrenome*</label>
                <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                
            </div>
        </div>
    </div>
</body>
<%- include ../../partials/footer.ejs %>